<script>
  export let client
  export let messages
  export let gameID
  export let game
  export let userIndex

  let message

  const sendMessage = () => {
    if(typeof(message) === 'undefined')
       return

    client.groupChat(gameID,message)

    message = undefined
  }

  let value = '';
	let submittedValue = null

  $: playerOne = game?.occupants?.[userIndex]
  $: playerTwo = game?.occupants?.[userIndex === 0 ? 1 : 0]
</script>

<div class="chat-frame">
  <div class="header">
    Chat
  </div>

  {#if messages && messages.length}
  <ul class="messages">
    {#each messages as message}
      {#if message.from === client.nickname}
        <li class="message" style="text-align: right;grid-template-columns: auto min-content; justify-content: end;">
          <div class="content">
            <p class="sender">me</p>
            <p class="text">{message.text}</p>
          </div>
        </li>
      {:else}
        <li class="message">
          <div class="content">
            <p class="sender">{message.from}</p>
            <p class="text">{message.text}</p>
          </div>
        </li>
      {/if}
    {/each}
  </ul>
  {:else}
  <p>No messages</p>
  {/if}

  <div class="chatbox">
    <form class="form-cls" on:submit|preventDefault={() => submittedValue = value}>
      <input type="text" placeholder="type a message..." style="color: white;" bind:value={message}/>
      <button class="send" on:click={sendMessage}>
        <svg color="#e6dede" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="16" height="16" viewBox="0 0 256 256" xml:space="preserve">
          <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #ffffff; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
            <path d="M 87.85 41.551 L 5.545 1.167 C 2.414 -0.369 -0.979 2.725 0.263 5.984 l 14.342 37.648 c 0.336 0.881 0.336 1.854 0 2.735 L 0.263 84.016 c -1.241 3.259 2.152 6.353 5.282 4.817 L 87.85 48.449 C 90.717 47.043 90.717 42.957 87.85 41.551 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: currentColor; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
          </g>
        </svg>
      </button>
    </form>  
  </div>
</div>


<style>
  .chat-frame {
    width: var(--chat-width);

    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    background: var(--default-bg);

    height: 100vh;
    
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
  }

  .header {
    padding: 1rem;
    background: var(--button-bg);
  }

  .chatbox {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    background: var(--button-bg);
  }

  .chatbox input {
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid #636361;
  }

  .messages {
    list-style-type: none;
    text-align: left;
    padding: 1rem;
    overflow: scroll;
  }

  .message {
    margin-top: 0.5rem;

    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
  }
.sender {
  display: inline;
}
  .message .content {
    padding: 1rem;

    border-radius: 1rem;
    background-color: var(--button-bg);
    width: fit-content;
    word-wrap: anywhere; 
  }

  .message .avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--default-fg);

    margin-top: 0.5rem;
  }

  .message .sender {
    font-weight: bold;
    margin: 0;
  }

  .message .text {
    margin: 0;
    color: #ffffff;
  }

  .send {
    border: none;
    margin-left: auto;
    background: none;
    cursor: pointer;
  }

  .form-cls {
    display: flex;
    justify-content: space-between;
    flex: content;
  }
</style>
