<script>
  import { push, pop } from 'svelte-spa-router'
  import logo from '../assets/aerror.svg'

  // Error header
  export let header

  // The error message to display
  export let message = 'Unfortunately, something went wrong. This game is still under development, so we hope you\'ll forgive us!'

  // The action written on the button
  export let action = 'Go back'
</script>

<img class="logo" src={logo} alt="Error">
{#if header}<h1>{header}</h1>{/if}
<p>{message}</p>

<button on:click={() => { pop() || push('/') }}>{action}</button>

<style>
  .logo {
    height: 10em;
    padding: 0.5em;
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  .logo:hover {
    animation: slightRotate 0.5s 1;
  }

  @keyframes slightRotate {
    0%   { transform: rotate(0) }
    20%  { transform: rotate(18deg) }
    80%  { transform: rotate(-18deg) }
    100% { transform: rotate(0) }
  }
</style>
