<script>
  import { v4 as uuidv4 } from 'uuid'
  import { push } from 'svelte-spa-router'
  import faekoJoker from '../assets/tricki.svg';

  // Global objects
  export let client
  export let defaultLogin

  let loading = false
  let waiting = false

  // User's preferred nickname
  let nickname

  const handleInput = () => {
    if (nickname.length > 8) {
      nickname = nickname.slice(0, 8);
    }
  };

  // Log in and start the game
  function startGame(e) {
    e.preventDefault()
    if (loading) return

    loading = true

    // Initiate the XMPP session
    client.xmppConnect(defaultLogin)

    // Switch to the game once we're connected
    client.once('connected', () => {

      // save our nickname
      client.nickname = nickname

      // generate a random ID for our game
      let gameID = uuidv4()

      push(`/game/${gameID}`)
    })
  }
</script>

<svelte:head>
    <link rel="preload" type="image/svg+xml" as="image" href="/assets/logo/tricki-c.svg"/>
    <link rel="preload" type="image/svg+xml" as="image" href="/assets/logo/tricki-d.svg"/>
    <link rel="preload" type="image/svg+xml" as="image" href="/assets/logo/tricki-h.svg"/>
    <link rel="preload" type="image/svg+xml" as="image" href="/assets/logo/tricki-s.svg"/>
</svelte:head>

<div class="branding" class:waiting={!loading}>
  <div class="logo" class:loading alt="Faeko"/>
  <h1 class="header">Tr<span class="fall">i</span><span class="flip">c</span>ko</h1>
</div>

<form class="login-row" on:submit={startGame}>
  <!-- svelte-ignore a11y-autofocus -->
  <input
    type="text"
    bind:value={nickname}
    on:input={handleInput}
    placeholder="Enter your nickname"
    aria-label="Enter your preferred nickname"
    autofocus
    class="color"
  />
  <input
    class="button color"
    type="submit"
    name="submit"
    value="New Game"
  />
  </form>

<!-- <p>
  Or, ask your friends to
  <a href="/"
    on:click={() => {
      alert('Ask your friend to start a new game, then copy the browser URL and send it to you. When you open that URL, you will join their game (unless the\'ve given up waiting for you and left, in which case you can send the link back to them and maybe go in an endless loop).')
  }}>
    send you a link.
  </a>
</p> -->

<!-- <p class="subtext">
  Click <a href="https://planethool.org/" target="_blank" rel="noreferrer">here</a> to learn more about the Hool project
</p> -->

<style>
  .logo {
    height: 10em;
    width: 10em;
    padding: 0.5em;
    margin: auto;

    filter: drop-shadow(0 0 2em #646cffaa);

    transform-origin: center;
    transform: rotate(0);
    transition: transform 0.5s ease-in;

    background-image: url(/assets/logo/tricki.svg);
    background-size: contain;

  }

  .login-row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, auto);
    grid-gap: var(--default-gap);
  }

  .header .flip {
    display: inline-block;

    transform-origin: center;
    transform: rotate(0);
    transition: transform 0.5s ease-in;
  }

  .header .fall {
    display: inline-block;
    transition: transform 0.5s ease-in;
  }

  .subtext {
    color: #888;
  }

  .color {
    color: #fff;
  }

  .branding.waiting:hover .logo {
    transform: rotate(45deg);
    background-image: url(/assets/logo/tricki-s.svg);
  }

  .branding.waiting:hover .header .flip {
    transform: rotate(180deg);
    transition: transform 0.5s ease-in;
  }

  .branding.waiting:hover .header .fall {
    transform: translateY(0.4em);
    transition: transform 0.5s ease-in;
  }

  .logo.loading {
      animation-name: superTrick;
      animation-timing-function: ease-out;
      animation-duration: 3s;
      animation-iteration-count: infinite;
  }

  .logo.loading + h1 > .flip,
  .logo.loading + h1 > .fall {
    animation-timing-function: ease-in;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .logo.loading + h1 > .flip {
    animation-name: superRotate;
  }

  .logo.loading + h1 > .fall {
    animation-name: superFall;
  }

  @keyframes superTrick {
    0%    { background-image: url(/assets/logo/tricki-c.svg); transform: rotate(0) }
    10%   { background-image: url(/assets/logo/tricki-d.svg); transform: rotate(45deg) }
    25%   { background-image: url(/assets/logo/tricki-d.svg); transform: rotate(0) }
    37.5% { background-image: url(/assets/logo/tricki-h.svg); transform: rotate(-45deg) }
    50%   { background-image: url(/assets/logo/tricki-h.svg); transform: rotate(0) }
    62.5% { background-image: url(/assets/logo/tricki-s.svg); transform: rotate(45deg) }
    75%   { background-image: url(/assets/logo/tricki-s.svg); transform: rotate(0) }
    87.5% { background-image: url(/assets/logo/tricki-c.svg); transform: rotate(-45deg) }
    100%  { background-image: url(/assets/logo/tricki-c.svg); transform: rotate(0) }
  }

  @keyframes superFall {
    0%   { transform: translateY(0) }
    20%  { transform: translateY(0.5em) }
    40%  { transform: translateY(0.1em) }
    60%  { transform: translateY(-0.5em) }
    100% { transform: translateY(0) }
  }

  @keyframes superRotate {
    0%   { transform: rotate(0), scale(1, 1) }
    20%  { transform: rotate(180deg) }
    40%  { transform: rotate(360deg) }
    60%  { transform: rotate(180deg) }
    100% { transform: rotate(0), scale(1,1) }
  }
</style>
