:root {
  --default-bg: #242424;
  --default-fg: rgba(255, 255, 255, 0.87);

  --link-color: #646cff;
  --link-color-hover: #535bf2;

  --button-bg: #1a1a1a;
  --bid-bg: #2c2c2d;
  --button-bg-border: #646cff;

  --bg-primary: darkgreen;
  --bg-secondary: darkblue;
  --bg-flipped: purple;

  --fg-primary: palegreen;
  --fg-secondary: lightblue;
  --fg-flipped: purple;

  --input-bg: var(--button-bg);
  --input-bg-border: var(--input-bg-border);

  --suit-none: #bba000;
  --suit-clubs: green;
  --suit-diamonds: goldenrod;
  --suit-hearts: red;
  --suit-spades: blue;
  --suit-nt: #fad605;

  --suit-fg: #ffffff;

  --default-gap: 0.4em;

  --default-bidding-bg: #323131;

  /* SVG images */
  --suit-svg-spades: url("/assets/suits/spade.svg");
  --suit-svg-hearts: url("/assets/suits/heart.svg");
  --suit-svg-diamonds: url("/assets/suits/diamond.svg");
  --suit-svg-clubs: url("/assets/suits/club.svg");
  --suit-svg-nt: url("/assets/suits/nt.svg");

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--default-fg);
  background-color: var(--default-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --default-bg: #ffffff;
    --default-fg: #213547;

    --link-color-hover: #747bff;

    --button-bg: #e9e9e9;
    --button-bg-border: #1a1a1a;

    --bg-primary: palegreen;
    --bg-secondary: lightblue;
    --bg-flipped: violet;

    --fg-primary: darkgreen;
    --fg-secondary: darkblue;
    --fg-flipped: purple;

    --suit-none: #bba000;
    --suit-clubs: lightgreen;
    --suit-diamonds: orange;
    --suit-hearts: tomato;
    --suit-spades: skyblue;

    --suit-fg: #000000;
  }
} */

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-color-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 240px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  text-align: center;
}

.button {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
  height: fit-content;
  color: #ffffff;
}
.button:hover {
  border-color: var(--button-bg-border);
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-primary {
  background-color: var(--bg-primary);
}

.button-flip {
  background-color: var(--bg-flipped);
}

input[type="text"] {
  padding: 0.6em;
  font-size: 1em;
  border: 0;
  border-radius: 8px;
  background-color: var(--input-bg);
}

.font-size-sm {
  font-size: x-small;
}

.flex-center {
  display: flex;
  align-items: center;
}

.points {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}