<script>
  import Router, { location, pop } from 'svelte-spa-router'
  import { wrap } from 'svelte-spa-router/wrap'

  import Home from './routes/Home.svelte'
  import Game from './routes/Game.svelte'

  // Global objects
  export let client
  export let tricko
  export let defaultLogin

  const routes = {
    '/': wrap({
      component: Home,
      props: {
        client,
        defaultLogin,
      }
    }),
    '/game/:gameID': wrap({
      component: Game,
      props: {
        client,
        tricko,
        defaultLogin,
      }
    }),
  }
</script>

<main>
  <Router {routes}/>
</main>
